<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Launch Reward" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Launch Reward" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div id="fb-root"></div>
  <script>
      // Additional JS functions here
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '<%= ENV['GMAIL_USERNAME'] %>', //'456804084389438', // App ID
              channelUrl : '/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
          });

          // Additional init code here
          FB.getLoginStatus(function(response) {
              console.log(response.status);
              if (response.status === 'connected') {
                  // connected
                  testAPI();
              } else if (response.status === 'not_authorized') {
                  // not_authorized
                  login();
              } else {
                  // not_logged_in
                  login();
              }
          });

          function login() {
              FB.login(function(response) {
                  if (response.authResponse) {
                      // connected
                      testAPI();
                  } else {
                      // cancelled
                  }
              });
          }

          function testAPI() {
              console.log('Welcome!  Fetching your information.... ');
              FB.api('/me', function(response) {
                  console.log('Good to see you, ' + response.name + '.');
              });
          }
      };

      // Load the SDK Asynchronously
      (function(d){
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          ref.parentNode.insertBefore(js, ref);
      }(document));
  </script>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
